@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
:root{
    --Cyan: hsl(179, 62%, 43%);
    --Cyan-dark: hsl(177, 59%, 71%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
body{
    background-color: var(--Light-Gray);
    overflow: hidden;
}
.container{
    width: 768px;
    max-width: 1440px;    
    margin:50px auto;
    box-shadow: 0px 0px 10px var(--Grayish-Blue);
    border-radius: 20px;
}
h1,h2,h3{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 250px;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
}
header h1{
    color: var(--Cyan);
    font-weight: 700;
    margin-bottom: 20px;
    
}
header h2{
    color: var(--Bright-Yellow);
    margin-bottom: 10px;
}
header p{
    font-size: 16px;
    color: var(--Grayish-Blue);
}
main{   
    width: 100;
    display: flex;
    
}
.left{
    flex: 1;
    background-color: var(--Cyan);
    padding: 50px;
    border-radius: 0px 0px 0px 20px;
}
.right{
    flex: 1;
    background-color: var(--Cyan-dark);
    padding: 50px;
    border-radius: 0px 0px 20px 0px;
}
.left h3, .right h3{
    color: var(--Light-Gray);
    margin-bottom: 20px;
}
.left span{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #fff;   
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    
}
.left span small{
    font-size: 14px;
    color: var(--Light-Gray);
}
.left p{
    color: var(--Light-Gray);
    
}
.left .btn{
    width: 100%;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: var(--Bright-Yellow);
    padding: 20px 60px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Light-Gray);
    font-weight: 400;
    
}
.right p{
    font-size: 16px;
    color: var(--Light-Gray);
}